.pending-homepage {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #BCC0CC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}

.homepage-block {
  background-color: #B6C6F2;
  color: white;
  margin: 10px 42px 10px 42px;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.pending-details {
  font-weight: 900;
}

.homepage-block:hover {
  background-color: #172b63;
}